body{
    margin:0;
}
.flexible-container{
    display:flex;
}
.top-banner{
    background-image:url(images/top-banner.png);
    background-repeat:no-repeat;
}
.half-width{
    padding-left:60px;
}
.half-width img{
    padding-right:80px;
}
p{
    font-size:18px;
    text-align:justify;
}
a{
    font-size:18px;
    text-decoration:none;
    color:black;
    background-color:lightgreen;
    border:5px solid lightgreen;
}
span{
    color:rgb(34, 158, 34);
}
.dream-big{
    background-image:url(images/dream-bg.png);
    background-repeat:no-repeat;
    background-position:right;
}
#half-width img{
padding-left:60px;
}
#half-width{
padding-top:30px;
padding-right:70px;
}
#h1{
    padding-left:60px;
    font-size:30px;
}
.experiance-area{
    padding-right:10px;
}

