
body{
    margin:0;
}
.flexible-container{
    display:flex;
    
}
.top-banner{
    background-image:url(images/top-banner.png);
    background-repeat:no-repeat;
}
.big-dream{
    background-image:url(images/dream-bg.png);
    background-repeat:no-repeat;
    background-position:right;
}
#half-width{
    padding-right:80px;
}
.half-width{
    padding-left:60px;
    width:50%;

}
.half-width img{
    padding-right:100px;
    padding-top:20px;
}
#half-width img{
    padding-left:100px;
}
span{
    color:rgb(34, 158, 34);
}
a{
    font-size:18px;
    text-decoration:none;
    color:black;
    background-color:lightgreen;
    border:lightgreen solid 5px;
}
p{
    font-size:18px;
    text-align:justify;
}
#h1{
    padding-left:60px;
    font-size:30px;
}
