body{
    margin:0;
}
.flexiable-container{
    display:flex;
}
.top-banner{
    background-image:url(images/top-banner.png);
    background-repeat:no-repeat;
}
.half-width{
    padding-left:60px;
    padding-right:50px;
    padding-top:20px;
}
.dream-big{
    background-image:url(images/dream-bg.png);
    background-repeat:no-repeat;
    background-position:right;
}
.dream-big img{
   
}
p{
    font-size:19px;
    text-align:justify;
}
a{
    text-decoration:none;
    font-size:18px;
    color:black;
    background-color:lightgreen;
    border:solid 5px lightgreen;
}
span{
    color:rgb(34, 158, 34);
}
.green-color{
    color:rgb(34, 158, 34);
}
.orange-color{
    color:orange;
}
.experiance-item{
    width:40%;
    box-shadow:10px 10px 40px grey;
    padding-left:20px;
    padding-right:20px;
    margin-left:5%;
    margin-right:5%;
    margin-bottom:20px;
    margin-top:55px;
}
#Full-Stack-Web-Developer{
    border-top:solid 7px orange;
}
#Juniour-Web-Developer{
    border-bottom:solid 7px rgb(34, 158, 34);
}
h4{
    text-align:center;
}

